/* HERO con imagen de fondo */
.hero-bg {
  /* ajusta el nombre exacto del archivo */
  background-image: url("../Gato-portada.jpg"); 
  background-size: cover;      /* llena el área sin deformar (puede recortar) */
  background-position: center; /* centrada */
  background-repeat: no-repeat;
  min-height: 360px;           /* da alto mínimo al hero */
}

/* color de fondo personalizado yeeeeeeeeeeee */
.bg-Color-de-fondo {
   background-color: #EAEAEA !important;
}

.object-fit-contain {
  object-fit: contain;
}
/* color de los títulos h2 */
h1,h2 {
  color: #8513ca !important;
}


/* Botón flotante "Ir Arriba" en esquina inferior derecha */
#btnSubirArriba {
  position: fixed;        /* Siempre visible en la pantalla */
  right: 20px;            /* Separacion de borde derecho */
  bottom: 20px;           /* Separado de borde inferiorr */

  width: 50px;
  height: 50px;
  border-radius: 50%;     /* Forma circular */

  background-color: #000; /* Fondo negro */
  color: #fff;            /* Flecha blanca */
  border: none;
  font-size: 1.5rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999; /*que este siempre visible sobre otros elementos */
}
